html, body {
	font-family: monospace;
}

.full-width {
	width: 100%;
}

.number-input {
	width: 4em;
	max-width: 40px;
}

canvas {
	/*border: 2px solid black;*/
	background-color: black;
	width: 100%;
	height: 100%;
}
#media-container {
	display: none;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0;
	overflow: hidden; /*  Disable scrollbars */
	display: block;  /* No floating content on sides */
}

#ui {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 300px;
	z-index: 3;
	padding: 1em;
	color: white;
	/*background-color: rgba(1.0, 1.0, 1.0, 0.5);*/
	background-color: #444;
}

a:visited {
	color: #fc0;
}

hr {
	border-width: 1px;
	border-color: #666;
	border-style: solid;
}
